[submodule "meso-license-service"]
	path = meso-license-service
	url = https://github.com/meso-org/meso-license-service.git
[submodule "meso-ui"]
	path = meso-ui
	url = https://github.com/meso-org/meso-ui.git
